@charset "utf-8";

@import "base/normalize";
@import "base/grid";

@import "layout/header";

@import "components/hero";


h1, h2, h3, h4, h5 {
  margin: 0;
}

body {
  background-color: #F5F5F5;
  font-family: 'source-sans-pro', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Open Sans', sans-serif;
}

h1 + h2 {
  font-family: 'source-sans-pro', sans-serif;
}

h1 {
  color: rgba(50, 50, 50, 0.85);
  font-weight: 500;
}

h2 {
  font-size: 32px;
  font-weight: 100;
}

h1 > span {
  font-size: 32px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: rgba(50,50,50,0.85);
  text-decoration: none;
}

a:hover {
  color: #000;
}

.doc {
  font-size: 14px;
  margin: 0; 
}

.doc:before,
.doc:after {
  opacity: .2;
  padding: 6px;
  font-style: normal;
  position: relative;
  content: "•"; 
}

.doc a {
  color: rgba(0, 0, 0, 0.3); 
}

.doc a:hover {
  color: #666; 
}

.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s; 
}

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}

.Content {

}

.Intro {
  color: #a0a0a0;
  height: 100vh;
  padding: 64px;
}

.Intro h1 {
  color: #bbb;
  font-size: 36px;
}

.Intro p {
  margin-top: 0;
}

.Description {
  padding: 64px 0;
  text-align: center;
}

.Description:first-child {
  padding: 96px 0 64px;
}

.Description img {
  margin-top: 48px;
}

.Description h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 8px;
  padding-left: 32px;
  text-align: left;
}

.Description-features {
  color: green;
  list-style-type: circle;
  margin: 0 auto;
  padding: 0 32px;
  text-align: left;
}

.Description-features li {
  margin-bottom: 6px;
}

.Description-features li:last-child {
  margin-bottom: 0;
}

.Description-features li span {
  color: #222;
}

.Docs-sidebar {
  bottom: 0;
  left: 0;
  margin-top: 52px;
  position: fixed;
  top: 0;
  width: 400px;
}

.Docs-content {
  margin-left: 400px;
}

.tocify-wrapper {
  background-color: #fff;
  font-size: 18px;
  padding: 64px 32px;
  width: max-content;
}
