#{{ ansible_managed }}

sendmail  = {{smk_sendmail}}
imgcache  = {{smk_path_imgcache}}
imgurl    = ../smokeping/images
datadir   = /var/lib/smokeping
piddir    = /var/run/smokeping
smokemail = /etc/smokeping/smokemail
tmail     = /etc/smokeping/tmail
