#{{ ansible_managed }}

*** Probes ***

+ FPing
binary = /usr/bin/fping

+ Curl
binary = /usr/bin/curl
step = 60
urlformat = http://%host%/

+ DNS
binary = /usr/bin/dig
lookup = name.example
pings = 5
step = 180
