#{{ ansible_managed }}

*** Targets ***

probe = FPing

menu = Top
title = Network Latency Grapher
remark = Welcome to the SmokePing website of {{smk_company}}. \
         Here you will learn all about the latency of our network.

+ Network

menu = network
title = Network as seen from {{ansible_hostname}}

{% for target_name, target in smk_targets.iteritems() %}

++ {{target_name}}

{% if target.probe |default() %}
probe = {{target.probe}}
{% endif %}
{% if target.urlformat |default() %}
urlformat = {{target.urlformat}}
{% endif %}
title = {{target.title |default(target.host |default(target.lookup |default(target_name)))}}
menu = {{target.menu |default(target.title |default(target.host |default(target.lookup |default(target_name))))}}
{% if target.host |default() %}
host = {{target.host}}
{% endif %}
{% if target.lookup |default() %}
lookup = {{target.lookup}}
{% endif %}
{% if target.server |default() %}
server = {{target.server}}
{% endif %}
{% if target.alerts |default() %}
alerts = {{target.alerts}}
{% endif %}
{% endfor %}
