#{{ ansible_managed }}

*** Targets ***

probe     = FPing

menu      = Top
title     = Network Latency Grapher
remark    = Welcome to the SmokePing website of {{smk_company}}. \
            Here you will learn all about the latency of our network.

+ Network

menu      = Network
title     = Network

{% for target in smk_targets | default([]) %}

++ {{target.key| default(target.host)}}
  {% if target.probe %}
    probe = {{target.probe}}
  {% endif %}
  {% if target.probe %}
    urlformat = {{target.urlformat}}
  {% endif %}

  title  = {{target.title| default(target.key if target.key else target.host)}}
  host   = {{target.host}}
  alerts = {{target.alerts| default("someloss")}}
{% endfor %}
