<header class="Header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 col-md-offset-1">
<!--         <% link_to '/' do %>
          <span>Frey</span>
        <% end %> -->
        <span class="ico-hamburger"></span>
      </div>
      <div class="col-md-5 col-md-offset-5">
        <nav class="Navbar">
          <ul>
            <li><%= link_to 'Getting Started', '/getting-started' %></li>
            <li><%= link_to 'Docs', '/docs' %></li>
            <li><%= link_to 'Github', 'http://github.com/kvz/frey' %></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>